* {
  box-sizing: border-box;
  font-family: sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

/* Landing Page */

#statistics {
  padding: 7% 15%;
  background-color: white;
  text-align: center
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: lightgray;
}